[submodule "lib/lua-lru"]
	path = lib/lua-lru
	url = https://github.com/starius/lua-lru.git
[submodule "lib/middleclass"]
	path = lib/middleclass
	url = https://github.com/kikito/middleclass
[submodule "lib/flux"]
	path = lib/flux
	url = https://github.com/rxi/flux.git
